<div class="community-footer">
  <div class="community-footer-icons">
    <a class="community-footer-icon" href="https://github.com/Growing-LLMs-Beyond-Boundaries" aria-label="GitHub">
      <img src="https://cdn-icons-png.flaticon.com/128/10090/10090320.png" alt="GitHub">
    </a>
    <a class="community-footer-icon" href="https://join.slack.com/t/nurturingllms-sz98293/shared_invite/zt-3w0hfxfyt-uW1CmxvOTuedjm9U02TrJA" aria-label="Slack">
      <img src="https://cdn-icons-png.flaticon.com/128/3800/3800024.png" alt="Slack">
    </a>
  </div>
</div>
